{{#each pictures as |picture|}}
  <section data-id="{{picture._id}}">
    <h3>{{picture.title}}</h3>
    <h3>{{picture.description}}</h3>
    <img src="{{picture.url}}" alt="picture" class="img-thumbnail">

    <button type="button" class="btn btn-success update" data-toggle="modal" data-target="#change-picture-modal">
        Update Picture
    </button>
    <button type="button" class="btn btn-danger delete-picture" data-id="{{picture._id}}">Delete Picture</button>

    <!-- Update picture modal -->

     <div class="modal fade" id="change-picture-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Update Picture</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form data-id="{{picture._id}}" class="update-picture">
               <input type="text" name="picture[title]" placeholder="Description" value="{{picture.description}}">
               <input type="text" name="picture[description]" placeholder="Description" value="{{picture.description}}">
               <button type="submit" class="btn btn-secondary">Update</button>
             </form>
           </div>
         </div>
       </div>
     </div>

  </section>
{{/each}}
